<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>newpackage.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListingsServlet</servlet-name>
        <servlet-class>Controller.ListingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewdetailServlet</servlet-name>
        <servlet-class>Controller.ViewdetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listingdetail</servlet-name>
        <servlet-class>Controller.Listingdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resigter</servlet-name>
        <servlet-class>Controller.ResigterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingsServlet</servlet-name>
        <url-pattern>/ListingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewdetailServlet</servlet-name>
        <url-pattern>/ViewdetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listingdetail</servlet-name>
        <url-pattern>/Listingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resigter</servlet-name>
        <url-pattern>/Resigter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>createlistings.jsp</welcome-file>
    </welcome-file-list>
</web-app>
