<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>newpackage.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListingsServlet</servlet-name>
        <servlet-class>Controller.ListingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewdetailServlet</servlet-name>
        <servlet-class>Controller.ViewdetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listingdetail</servlet-name>
        <servlet-class>Controller.Listingdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListingServlet</servlet-name>
        <servlet-class>Controller.CreateListingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerPageServlet</servlet-name>
        <servlet-class>Controller.ManagerPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>Controller.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>Controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomInfoServlet</servlet-name>
        <servlet-class>Controller.AddRoomInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>Controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateContactServlet</servlet-name>
        <servlet-class>Controller.CreateContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>Controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfile</servlet-name>
        <servlet-class>Controller.ViewUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCommentServlet</servlet-name>
        <servlet-class>Controller.CreateCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveListingServlet</servlet-name>
        <servlet-class>Controller.SaveListingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchListingsServlet</servlet-name>
        <servlet-class>Controller.SearchListingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSavedListingsServlet</servlet-name>
        <servlet-class>Controller.ViewSavedListingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstractServlet</servlet-name>
        <servlet-class>Controller.ConstractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPayment</servlet-name>
        <servlet-class>Controller.CheckPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>Controller.RatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepositServlet</servlet-name>
        <servlet-class>Controller.AddDepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingsServlet</servlet-name>
        <url-pattern>/ListingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewdetailServlet</servlet-name>
        <url-pattern>/ViewdetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listingdetail</servlet-name>
        <url-pattern>/Listingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListingServlet</servlet-name>
        <url-pattern>/CreateListingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerPageServlet</servlet-name>
        <url-pattern>/ManagerPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/AppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomInfoServlet</servlet-name>
        <url-pattern>/AddRoomInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateContactServlet</servlet-name>
        <url-pattern>/CreateContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserProfile</servlet-name>
        <url-pattern>/ViewUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCommentServlet</servlet-name>
        <url-pattern>/CreateCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveListingServlet</servlet-name>
        <url-pattern>/SaveListingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstractServlet</servlet-name>
        <url-pattern>/ConstractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPayment</servlet-name>
        <url-pattern>/CheckPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchListingsServlet</servlet-name>
        <url-pattern>/SearchListingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSavedListingsServlet</servlet-name>
        <url-pattern>/ViewSavedListingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/RatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepositServlet</servlet-name>
        <url-pattern>/AddDepositServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ListingsServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
</web-app>
